body
  font-family: 'Lato', sans-serif
  .main-sidebar
    .sidebar
      .sidebar-menu
        &.tree
          li
            a
              font-weight: normal !important
          .active
            border-left: 3px solid #3b8dbc